<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>关于我们</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/assets/ie-emulation-modes-warning.js"></script>
    <link href="css/carousel/carousel.css" rel="stylesheet">
    <link href="css/creative/style.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<style>
    .top-section {
        margin-top: 100px;
    }
</style>
<body class="home blog group-blog" style="">
<header class="navbar navbar-static-top bs-docs-nav" id="top">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="logo" class="tim-logo">
                    <a href="/">
                        <!-- logo -->
                        <img height="300" width="300">
                        <span class="blog-name">Onblur7</span>
                    </a>
                </div><!-- end of #logo -->
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="menu-general-menu" class="nav navbar-nav">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active">
                        <a title="主页" href="/">主页</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a title="博客" href="/article">博客</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom hide">
                        <a title="游戏" href="javascript:void(0)">游戏</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom">
                        <a title="弹幕实验室" href="/barrage">弹幕实验室</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown">
                        <a title="订阅&关注" href="javascript:void(0)" data-toggle="dropdown"
                           class="dropdown-toggle">订阅&关注<span class="caret"></span></a>
                        <ul role="menu" class=" dropdown-menu">
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a
                                    title="Web Design" href="javascript:void(0)">关注微信公众号</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children dropdown active">
                        <a title="更多网站" href="/article" data-toggle="dropdown" class="dropdown-toggle">更多网站<span
                                class="caret"></span></a>
                        <ul role="menu" class=" dropdown-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <a title="扑耶博客" target="view_window" href="http://blog.poolye.com/">扑耶博客</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        <h2 class="featurette-heading" style="margin-top: 20px;">关于Onblur7 <br><span class="text-muted" style="font-size: 36px;">了解Onblur7网站的历史、介绍网站成员以及如何加入我们。</span></h2>
        <div class="bs-docs-section">
            <h1 id="history" class="page-header"><a class="anchorjs-link " href="/about/#history" aria-label="Anchor link for: history" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>历史</h1>
            <hr>
            <p class="lead">Onblur7 最初是由<a href="/ronger">@ronger</a>创造的。</p>
        </div>
        <div class="bs-docs-section">
            <h1 id="team" class="page-header"><a class="anchorjs-link " href="/about/#team" aria-label="Anchor link for: team" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>相关成员</h1>
            <hr>
            <p class="lead">Onblur7 由创始成员和一组核心贡献者维护，他们为社区提供了巨大的帮助和支持。</p>
        </div>
        <div class="bs-docs-section">
            <h1 id="join" class="page-header"><a class="anchorjs-link " href="/about/#join" aria-label="Anchor link for: join" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>加入我们</h1>
            <hr>
            <p>通过 <a href="https://github.com/Iboome/onblur/issues/new">opening an issue</a> 或提交 pull request 即可参与 Onblur7 的开发。或者发送邮件至<email>onblur7@aliyun.com</email>联系我们。</p>
        </div>
    </div>
</main>
<footer>
    <p style="text-align: center">&copy; onblur7 &middot; 赣ICP备16012195号 &middot; <a href="#">意见反馈</a> &middot; <a href="/about">关于我们</a></p>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>